@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700;900&display=swap');

.mainContainerHome {
    padding-top: 20px;
    height: inherit;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: rgb(194, 194, 194); */
    /* background-color: black; */
    padding-bottom: 30px;

    /* background-attachment: fixed; */
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
    font-size: x-large;
    align-self: baseline;
}

#headerhome {
    padding: 0 7px 0 20px;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;
}

p {
    font-family: "Roboto", sans-serif;
}

#buslist {
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    letter-spacing: 6px;
    color: rgba(57, 76, 254);
}

.listitemcontainer {
    background-color: rgba(57, 76, 254);
    /* opacity: 0.9; */
    display: inline-flex;
    align-items: baseline;
    padding: 7px 0px 0px 5px;

    margin: 5px 5px 5px 15px;
    border-radius: 8px;

    width: 90%;
    color: white;
    box-shadow: 4px 4px 10px grey;
}

#busno {
    font-size: 23px;
    padding-left: 10px;
    padding-right: 10px;

}

#vehicleno {
    font-size: 12px;
    margin-left: 20px;
}

#busicon {
    margin-left: 10px;
}

#helpIcon {
    font-size: 25px
}

#sidebarToggle {
    color: rgba(57, 76, 254);
}