@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700;900&display=swap');

.mainContainerMore {
    padding-top: 20px;
    height: inherit;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;

    /* background-attachment: fixed; */
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
    font-size: x-large;
    align-self: baseline;
}

.labelName {
    color: black;
}

.formContainer {
    width: 90%;
}

#complaintForm {
    color: rgba(57, 76, 254);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
}

#labelName {
    color: rgba(57, 76, 254);
}

#backButton {
    color: rgba(57, 76, 254);
}

#submitButton {
    background-color: rgba(57, 76, 254);
    color: white;
    width: 100%;
}

#headerMore {
    padding: 0 7px 0 7px;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;
}