@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.mainContainerMore {
    padding-top: 20px;
    height: inherit;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(187, 184, 184);
    padding-bottom: 30px;

    /* background-attachment: fixed; */
}

.labelName {
    color: black;
}

.formContainer {
    width: 90%;
}

#headerMore {
    padding: 0 7px 0 7px;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;
}